.container {
  background-color: blue;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.sort_button_container {
  display: flex;
  column-gap: 20px;
  align-self: flex-end;
}
.todo_list {
  display: flex;
  flex-direction: column;
  min-height: 1200px;
}
