#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* todo */
.todo {
  display: flex;
  justify-content: space-between;
  position: relative;
  background: #e2e3e6;
  height: 80px;
  margin: 10px;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.6),
    5px 5px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.todo.active {
}
