#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* container */
.container {
  display: flex;
  flex-direction: column;
  min-height: 1200px;
}
/* todo */
.todo {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #e2e3e6;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.6),
    5px 5px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: flex-grow 1.5s ease; /* 부드러운 전환 추가 */
}

.todo.active {
  flex-grow: 4;
}

.sub_todo {
  display: flex;
  justify-content: space-between;
}

.todo_content {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
.todo_content.active {
  opacity: 1;
}

/* 공통 */

.button {
  width: 100px;
  height: 100px;
}

/* edit */

.edit_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button_container {
  display: flex;
  margin-top: 20px;
  column-gap: 30px;
}
